.avatar{
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 40%;
    margin-block: 10px;
}
input{
    width: 50%;
}
form{
    text-align: center;
}

.add-btn{
    margin-top: 10px;
    font-size: 1.2rem;
    width: 50%;
    height: 25px;
}